.input {
  margin-top: 1rem;
  outline: none;
  font-size: 16px;
  border: 1px solid #888;
  border-right: none;
}

.input::placeholder {
  opacity: 1;
}

.select {
  background: white;
  border: 1px solid #888;
  border-left: none;
  font-size: 16px;
}
